 body{
     background-color: rgb(34, 34, 34);
     color: white;
     font-family:poppinsregular;
     max-width: 1200px;
     margin: 0 auto;
     padding: 15px;
      

}

 header{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
    
}

 #title{ 
     flex-direction: colum;
     line-height: 10px;

 }

  li{
     display: inline-block;
     margin: 20px;
}

  h1{
     font-weight: 200;
}

  main{
     display: flex;
     flex-direction: row;
     margin-top: 50px;

 }

 h2{
     font-size: 56px;
     line-height: 10px;
     font-family: poppinsmedium;

 }

 span{
     color: blueviolet;
 }

 p{
     line-height: 20px;
     max-width: 500px;
     font-family: poppinslight;

 }

 img{
     width: 620px;
    
 }

 a{
     color: white;
 }

 a:hover{
        color: blueviolet;
        transition: 0,3s all;
 }

 #inscreva-se_btn{
     border: 2px solid blueviolet;
     padding: 200;
     border-radius: 15px;

 }
 #inscreva-se_btn:hover{
     background-color: blueviolet;
     color: white;
      
 }

 form{
      display: flex;
      flex-direction: column;
      width: 70%;

 }

 input{
     margin-top: 20px;
     height: 20px;
     padding: 15px;
     border-radius: 20px;
     border: none;
     font-size: 15px;
    
    
 }

 form [type="submit"]{
     height: 50px;
     width: 50%;
     background-color: blueviolet;
     color: white;
     font-weight: bold;

 }
 form [type="submit"]:hover{
     cursor: pointer
 }